@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/robotomedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

:root {
  /*цвета с макета*/
  --black-basic: #000000;
  --white-basic: #ffffff;
  --light-gray-basic: #e1e1e1;
  --border-gray-basic: #d7dcde;
  --border-gray-hover: #b4b9bb;
  --gray-basic: #a6a6a6;
  --dimgray-basic: #eeeeee;
  --dimgray-hover: #dfdfdf;
  --dimgray-active: #d5d5d5;
  --dimgray-select: #dbdbdb;
  --dark-gray: #666666;
  --very-dark-gray: #4d4d4d;
  --wery-dark-gray: #444444;
  --red-basic: #fb565a;
  --red-hover: #e74246;
  --red-active: #d7373b;
  --green-basic: #00ca74;
  --green-hover: #00bc6c;
  --green-active: #00aa62;
  --yellow-basic: #efc84a;
  --yellow-hover: #eab534;
  --yellow-active: #e5a722;
  /*шрифты*/
  --font-size-small: 14px;
  --font-size-basic: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-very-large: 36px;
  --font-size-big: 45px;
  --font-size-very-big: 55px;
  /*интервал*/
  --line-height-basic: 18px;
  --line-height-basic-plus: 19px;
  --line-height-medium: 22px;
  --line-height-large: 24px;
  --line-height-very-large: 30px;
  --line-height-wery-large: 36px;
  --line-height-big: 45px;
  --line-height-bigger: 53px;
  --line-height-very-big: 55px;
  --line-height-wery-big: 64px;
  /*вес*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

.button {
  text-decoration: none;
  color: var(--white-basic);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 3.125em;
  box-sizing: border-box;
  padding: 1em 2.5em;
  border-radius: 0.25em;
  cursor: pointer;
  justify-content: center;
  border: none;
}

.button--primary {
  background-color: var(--red-basic);
}

.text-16 {
  line-height: var(--line-height-large);
  font-size: var(--font-size-basic);
  margin-top: 0;
}

.hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  color: var(--black-basic);
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  margin: 0;
  color: var(--black-basic);
}

.main-header {
  background-color: var(--dimgray-basic);
  padding-top: 49px;
}

.main-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  background-color: var(--dimgray-basic);
  padding-bottom: 0;
}

.navigate {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
  flex-basis: 50%;
}

.navigate-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -23px;
}

.navigate-item {
  list-style-type: none;
  margin: 0 23px;
}

.navigate-item a {
  text-decoration: none;
  color: var(--black-basic);
}

.cart {
  text-decoration: none;
  color: var(--black-basic);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.advantages {
  background-color: var(--dimgray-basic);
  margin: 0;
}

.advantages-column1 {
  padding: 20px 0;
}

.advantages-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.advantages-slide img {
  vertical-align: top;
}

.advantages h3 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-very-big);
  line-height: var(--line-height-very-big);
  color: var(--black-basic);
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-column1 .text-16 {
  margin-bottom: 38px;
}

.features {

}

.features h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
}

.features-list {
  padding-left: 0px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-item {
  list-style-type: none;
  padding-top: 80px;
  padding-bottom: 80px;
}

.feature-item .feature-img {
  display: block;
  margin-bottom: 25px;
}

.feature-item a img {
  vertical-align: top;
}

.feature-item h3 {
  margin: 0;
  margin-bottom: 16px;
}

.feature-item p {
  margin-top: 0;
  margin-bottom: 32px;
}

.feature-item:nth-child(2) .button {
  background-color: var(--green-basic);
}

.feature-item:nth-child(3) .button {
  background-color: var(--yellow-basic);
}

.about-us .container {
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: 50px;

}
.slogan {
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  font-weight: var(--font-weight-medium);
  margin-top: 0;
  margin-bottom: 32px;
}

.about-us-column1 {
  padding-top: 73px;
  padding-bottom: 73px;
}

.about-us-column2 {
  padding-top: 39px;
  padding-bottom: 73px;
}

.about-us-column1 h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-large);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.slogan ~ .text-16 {
  margin-bottom: 40px;
}

.plus-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.plus-item {
  display: flex;
  list-style-type: none;
  margin-bottom: 30px;
}

.plus-item:last-child,
.plus-item p {
  margin-bottom: 0;
}

.plus-item::before {
  content: "";
  margin-top: calc(0.75em - 1px);
  margin-right: 12px;
  width: 25px;
  height: 2px;
  background-color: var(--red-basic);
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.quality-item {
  list-style-type: none;
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column-reverse;
}

.quality-list span {
  line-height: var(--line-height-wery-big);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  margin-bottom: 11px;
}

.quality-list sup {
  font-size: 58%;
}

.about-us-column2 img {
  padding-bottom: 36px;
}

.about-us-column2 h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-large);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-column2 .text-16 {
  margin-bottom: 0;
}

.friends {
  margin-bottom: 0px;
}

.friends-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  padding: 0;
  padding-bottom: 80px;
  margin: 0;
}

.friend-item {
  list-style-type: none;
}

.contacts {
  position: relative;
}

.contacts h3 {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.contacts address {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  font-style: normal;
  color: var(--dark-gray);
  margin-bottom: 18px;
}

.contacts p {
  text-decoration: none;
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  display: flex;
  flex-wrap: wrap;
  color: var(--dark-gray);
  margin-top: 0;
  margin-bottom: 38px;
}

.contacts a {
  text-decoration: none;
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  display: flex;
  align-items: center;
  color: var(--dark-gray);
}

.contacts-map {
  background-image: url("../img/map.jpg");
  background-position: 50% 50%;
  background-repeat: repeat-x;
  height: 415px;
}

.contacts-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contacts-info .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.contacts-info-panel {
  padding: 50px;
  background-color: var(--white-basic);
}

.main-footer {
  min-height: 217px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social {
  text-align: center;
  vertical-align: middle;
}

.social-list {
  list-style-type: none;
  font-size: 0;
  margin: -6px;
  padding: 0;
}

.social-icon {
  display: inline-block;
  margin: 6px;
}

.social-icon a {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--light-gray-basic);
  text-align: center;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-icon--vk a {
  background-image: url("../img/icons/vk-icon.svg");
}

.social-icon--fb a {
  background-image: url("../img/icons/fb-icon.svg");
}

.social-icon--insta a {
  background-image: url("../img/icons/insta-icon.svg");
}
.footer-text {
  margin: 0 auto;
}
.text-footer-friendship {
  font-size: var(--font-size-very-large);
  line-height: var(--line-height-wery-large);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: 10px;
}

.text-footer-discount {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-medium);
  color: var(--wery-dark-gray);
  margin-top: 0;
  margin-bottom: 0;
}

.popup {
}

.popup-name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-big);
  line-height: var(--line-height-bigger);
}

.popup-form {
}

.popup-item {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
}

.submit {
}

.close {
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.inside-header-caption {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-very-big);
  line-height: var(--line-height-very-big);
  color: var(--black-basic);
  margin: 0;
  flex-basis: 70%;
  text-align: center;
}

.inside-header-caption-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 108px;
}
.content-catalog {
  display: grid;
  grid-template-columns: 400px 400px 360px;
  grid-template-rows: 100px auto auto;
  padding-bottom: 60px;
}

.catalog-filter {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-right: 40px;
}

.type-filter {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
}

.catalog-templates {
  grid-column: 2 / 4;
}

.sort-list {
  display: flex;
}

.rate {
  display: flex;
}

.catalog-pagination {
  grid-column: 2 / -1;
  padding-top: 55px;
  margin-top: 0;
}

.type-catalog-filter {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}

.sort-list {
  font-size: var(--font-size-small);
  line-height: var(--line-height-basic);
  text-transform: uppercase;
  list-style-type: none;
  padding-left: 0;
}

.sort-item {
}

.rate {
  list-style-type: none;
  padding-left: 0;
}

.grid-list {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic-plus);
  list-style-type: none;
  padding-left: 0;
}

.grid-item {
}

.filter-features {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic-plus);
  list-style-type: none;
  padding-left: 0;
}

.filter-button {
  color: var(--font-weight-normal);
  width: 100%;
  margin-top: 48px;
}

.template-catalog-grid {
}

.template-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 60px;
  margin: 0;
}

.template-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border: var(--dimgray-basic) solid 1px;
}



.hat-template-item {
  display: block;
  width: 100%;
  height: 40px;
  background-color: var(--very-dark-gray);
  opacity: 0.12;


}

.hat-template-item-bullet1 {
  display: block;
  position: absolute;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;
  background-color: var(--white-basic);
  border-radius: 50%;

}

.hat-template-item-bullet2 {
  display: block;
  position: absolute;
  top: 13px;
  left: 41px;
  width: 14px;
  height: 14px;
  background-color: var(--white-basic);
  border-radius: 50%;

}

.hat-template-item-bullet3 {
  display: block;
  position: absolute;
  top: 13px;
  left: 66px;
  width: 14px;
  height: 14px;
  background-color: var(--white-basic);
  border-radius: 50%;

}



.template-item a {
  display: block;
}

.template-item a img {
  vertical-align: bottom;
  display: block;
  background-color: var(--dimgray-basic);
}

.template-item-info {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 26px 0px 44px;
  position: absolute;
  background-color: var(--dimgray-basic);
  bottom: 0px;
  transition: all 0.3s;
  width: 100%;
}

.template-item:hover .template-item-info {
  opacity: 1;
  visibility: visible;
}

.template-item h3 {
  text-transform: uppercase;
}

.template-item p {
  color: var(--dark-gray);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
}

.button-template {
  width: 200px;
}

.catalog-page-list {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: -6px;
}

.catalog-page {
}

.catalog-next-page {
}

.button-catalog-page {
  color: var(--black-basic);
  margin: 6px;
  padding: 1.5em;
  background-color: var(--dimgray-basic);
}

.button-catalog-page-next {
  color: var(--black-basic);
  margin: 6px;
  background-color: var(--dimgray-basic);
}

/* .button {
  text-decoration: none;
  color: var(--white-basic);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 3.125em;
  box-sizing: border-box;
  padding: 1em 2.5em;
  border-radius: 0.25em;
  cursor: pointer;
}

.button--primary {
  background-color: var(--red-basic);
  border: none;
} */
