@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/robotomedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

:root {
  /*цвета с макета*/
  --black-basic: #000000;
  --white-basic: #ffffff;
  --light-gray-basic: #e1e1e1;
  --border-gray-basic: #d7dcde;
  --border-gray-hover: #b4b9bb;
  --gray-basic: #a6a6a6;
  --dimgray-basic: #eeeeee;
  --dimgray-hover: #dfdfdf;
  --dimgray-active: #d5d5d5;
  --dimgray-select: #dbdbdb;
  --dimgray-toggle: #ababab;
  --not-very-dark-gray: #969696;
  --dark-gray: #666666;
  --very-dark-gray: #4d4d4d;
  --wery-dark-gray: #444444;
  --black-gray: #283136;
  --red-basic: #fb565a;
  --red-hover: #e74246;
  --red-active: #d7373b;
  --red-active-text: #e57375;
  --green-basic: #00ca74;
  --green-hover: #00bc6c;
  --green-active: #00aa62;
  --green-active-text: #43c493;
  --yellow-basic: #efc84a;
  --yellow-hover: #eab534;
  --yellow-active: #e5a722;
  --yellow-active-text: #eec26a;
  /*шрифты*/
  --font-size-small: 14px;
  --font-size-basic: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-very-large: 36px;
  --font-size-big: 45px;
  --font-size-very-big: 55px;
  /*интервал*/
  --line-height-basic: 18px;
  --line-height-basic-plus: 19px;
  --line-height-medium: 22px;
  --line-height-large: 24px;
  --line-height-very-large: 30px;
  --line-height-wery-large: 36px;
  --line-height-big: 45px;
  --line-height-bigger: 53px;
  --line-height-very-big: 55px;
  --line-height-wery-big: 64px;
  /*вес*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.button {
  text-decoration: none;
  color: var(--white-basic);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 3.125em;
  box-sizing: border-box;
  padding: 1em 2.5em;
  border-radius: 0.25em;
  cursor: pointer;
  justify-content: center;
  border: none;
}

.button--primary {
  background-color: var(--red-basic);
}

.button--primary:hover {
  background-color: var(--red-hover);
  transition: all 0.3s;
}

.button--primary:active {
  background-color: var(--red-active);
  color: var(--red-active-text);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.text-16 {
  line-height: var(--line-height-large);
  font-size: var(--font-size-basic);
  margin-top: 0;
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  color: var(--black-basic);
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  margin: 0;
  padding: 0;
  color: var(--black-basic);
}

.main-header {
  background-color: var(--dimgray-basic);
  padding-top: 49px;
}

.main-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  padding-bottom: 0;
}

.main-logo-image {
  fill: var(--black-basic);
}

.main-logo-image:hover {
  opacity: 0.7;
}

.main-logo-image:active {
  opacity: 0.3;
  transition: all 0.3s;
}

.main-logo-index {
  pointer-events: none;
}

.navigate {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
  flex-basis: 50%;
}

.navigate-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -23px;
}

.navigate-item {
  list-style-type: none;
  margin: 0 23px;
  padding: 13px 0;
}
.navigate-item a {
  text-decoration: none;
  color: var(--black-basic);
}
.navigate-item a:hover {
  color: var(--red-basic);
  transition: all 0.3s;
}

.navigate-item a:active {
  color: var(--black-basic);
  opacity: 0.3;
}

.catalog-select {
  box-shadow: 0 2px var(--red-basic);
}

.cart {
  text-decoration: none;
  color: var(--black-basic);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
  white-space: nowrap;
}

.cart::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  margin-right: 25px;
}

.cart:hover {
  color: var(--red-basic);
  transition: all 0.3s;
}

.cart:active {
  color: var(--black-basic);
  opacity: 0.3;
}

.cart-select {
  padding: 13px 0;
  box-shadow: 0 2px var(--red-basic);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.advantages {
  background-color: var(--dimgray-basic);
  margin: 0;
}

.advantages .container {
  position: relative;
}

.advantages-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-column1 {
  padding: 20px 0;
}

.advantages-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--dimgray-basic);
  background-position: 100%;
  background-repeat: no-repeat;
  height: 431px;
}

.advantages-slide:nth-child(1) {
  background-image: url("../img/slide1.png");
}

.advantages-slide:nth-child(2) {
  background-image: url("../img/slide2.png");
}

.advantages-slide:nth-child(3) {
  background-image: url("../img/slide3.png");
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
}

.advantages h3 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-very-big);
  line-height: var(--line-height-very-big);
  color: var(--black-basic);
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-column1 .text-16 {
  margin-bottom: 38px;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 400px;
  right: 400px;
  display: flex;
  justify-content: center;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--white-basic);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
}

.slider-controls button + button {
  margin-left: 17px;
}

.slider-controls .current::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid var(--not-very-dark-gray);
}

.features h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
}

.features-list {
  padding-left: 0px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 100px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: var(--dimgray-basic) 2px solid;
}

.feature-item {
  list-style-type: none;
  padding-top: 80px;
  padding-bottom: 80px;
}

.feature-item .feature-img {
  display: block;
  margin-bottom: 25px;
}

.feature-item a img {
  vertical-align: top;
}

.feature-item h3 {
  margin: 0;
  margin-bottom: 16px;
}

.feature-item p {
  margin-top: 0;
  margin-bottom: 32px;
}

.feature-item:nth-child(2) .button {
  background-color: var(--green-basic);
}

.feature-item:nth-child(2) .button:hover {
  background-color: var(--green-hover);
}

.feature-item:nth-child(2) .button:active {
  color: var(--green-active-text);
}

.feature-item:nth-child(3) .button {
  background-color: var(--yellow-basic);
}

.feature-item:nth-child(3) .button:hover {
  background-color: var(--yellow-hover);
}

.feature-item:nth-child(3) .button:active {
  color: var(--yellow-active-text);
}

.about-us .container {
  display: grid;
  grid-template-columns: auto 360px;
  column-gap: 50px;
  border-bottom: var(--dimgray-basic) 2px solid;
}
.slogan {
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
  font-weight: var(--font-weight-medium);
  margin-top: 0;
  margin-bottom: 32px;
}

.about-us-column1 {
  padding-top: 73px;
  padding-bottom: 73px;
}

.about-us-column2 {
  padding-top: 39px;
  padding-bottom: 73px;
}

.about-us-column1 h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-large);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.slogan ~ .text-16 {
  margin-bottom: 40px;
}

.plus-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.plus-item {
  display: flex;
  list-style-type: none;
  margin-bottom: 30px;
}

.plus-item:last-child,
.plus-item p {
  margin-bottom: 0;
}

.plus-item::before {
  content: "";
  margin-top: calc(0.75em - 1px);
  margin-right: 12px;
  width: 25px;
  height: 2px;
  background-color: var(--red-basic);
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.quality-item {
  list-style-type: none;
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column-reverse;
}

.quality-list span {
  line-height: var(--line-height-wery-big);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  margin-bottom: 11px;
}

.quality-list sup {
  font-size: 58%;
}

.about-us-column2 img {
  padding-bottom: 36px;
}

.about-us-column2 h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-large);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-column2 .text-16 {
  margin-bottom: 0;
}

.friends {
  margin-bottom: 0px;
}

.friends-list {
  display: flex;
  align-items: center;
  height: 180px;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid var(--dimgray-basic);
}

.friends-border-bottom {
  padding-bottom: 80px;
}

.friend-item {
  flex-basis: 25%;
  list-style-type: none;
  position: relative;
  text-align: center;
}

.friend-item a {
  display: block;
  opacity: 0.2;
}

.friend-item a:hover {
  opacity: 1;
  transition: all 0.3s;
}

.friend-item a:active {
  opacity: 0.1;
  transition: all 0.3s;
}

.friend-item::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--dimgray-basic);
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -26px;
}

.friend-item:first-child::after {
  display: none;
}

.contacts {
  position: relative;
}

.contacts h3 {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}

.contacts address {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  font-style: normal;
  color: var(--dark-gray);
  margin-bottom: 18px;
}

.contacts p {
  text-decoration: none;
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  display: flex;
  flex-wrap: wrap;
  color: var(--dark-gray);
  margin-top: 0;
  margin-bottom: 38px;
}

.phone-number {
  text-decoration: none;
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  display: flex;
  align-items: center;
  color: var(--dark-gray);
}

.contacts-map {
  /*background-image: url("../img/map.jpg");*/
  background-color: var(--white-basic);
  /*background-position: 50% 50%;*/
  background-repeat: repeat-x;
  height: 415px;
}

#map {
  width: 100%;
  height: 415px;


}

.contacts-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contacts-info .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.contacts-info-panel {
  padding: 50px;
  background-color: var(--white-basic);
  z-index: 1;
}

.main-footer {
  min-height: 217px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social {
  text-align: center;
  vertical-align: middle;
}

.social-list {
  list-style-type: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icon {
  display: inline-block;
}

.social-list .social-icon + .social-icon {
  margin-left: 12px;
}

.social-icon a {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--light-gray-basic);
  text-align: center;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-icon a:hover {
  background-color: var(--red-basic);
}

.social-icon a:active {
  background-color: var(--red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-icon--vk a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon a:active .social-icon--vk-image {
  fill: var(--red-active-text);
}

.social-icon--fb a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon a:active .social-icon--fb-image {
  fill: var(--red-active-text);
}

.social-icon--insta a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon a:active .social-icon--insta-image {
  fill: var(--red-active-text);
}

.footer-text {
  margin: 0 auto;
}
.text-footer-friendship {
  font-size: var(--font-size-very-large);
  line-height: var(--line-height-wery-large);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: 10px;
}

.text-footer-discount {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-medium);
  color: var(--wery-dark-gray);
  margin-top: 0;
  margin-bottom: 0;
}

.popup-position {
  align-items: center;
  justify-content: center;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.popup-padding {
  padding: 63px 100px 84px;
}

.popup {
  position: relative;
  background-color: var(--white-basic);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  min-width: 960px;

}

#popup:target {
  display: flex;
  z-index: 100;
}

.popup-form label {
  display: block;
  margin-bottom: 9px;
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  font-weight: var(--font-weight-bold);
}

.popup-form input {
  height: 50px;
  border: 2px solid var(--border-gray-basic);
  border-radius: 3px;
  padding-left: 16px;
  width: 100%;
  margin-bottom: 34px;
  box-sizing: border-box;
}

.popup-form textarea {
  border: 2px solid var(--border-gray-basic);
  border-radius: 3px;
  width: 100%;
  margin-bottom: 47px;
  box-sizing: border-box;
  vertical-align: top;
  min-height: 118px;
}

.popup-name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-big);
  line-height: var(--line-height-bigger);
}

.popup-form button {
  padding: 1em 84px;
}

.popup-form fieldset {
  display: flex;
  margin: 0 -20px;
}

.popup-form h2 {
  margin: 0;
  margin-bottom: 37px;
}

.popup-closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.writeus-name-field {
  display: inline-block;
  margin: 0 20px;
  width: 50%;
}

.writeus-email-field {
  margin: 0 20px;
  display: inline-block;
  width: 50%;
}

.writeus-text-field {
  display: inline-block;

  width: 100%;
}

.writeus-text {
  padding: 16px;
  margin-bottom: 47px;
  width: 100%;
  line-height: var(--line-height-basic);
}

.close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 90px;
  top: 78px;
  outline: none;
}

.close-form-button:hover {
  fill-opacity: 1;
}

.close-form-button:active {
  fill-opacity: 0.1;
}

.close-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 100;
}

.inside-header-caption {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-very-big);
  line-height: var(--line-height-very-big);
  color: var(--black-basic);
  margin: 0;
  flex-basis: 70%;
  text-align: center;
}

.inside-header-caption-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 108px;
}
.content-catalog {
  display: grid;
  grid-template-columns: 400px 400px 360px;
  grid-template-rows: auto auto auto;
}

.catalog-filter {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-right: 140px;
  padding-top: 55px;
}

.catalog-filter--value {
  padding-bottom: 54px;
  margin: 0;
  border: none;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  background-color: var(--dimgray-basic);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 39px 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--border-gray-basic);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green-basic);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white-basic);
  background-color: var(--dimgray-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: var(--font-size-basic);
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--black-gray);
  border: none;
  border-radius: 5px;
  background: var(--dimgray-basic);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-filter--grid {
  padding-bottom: 43px;
}

.catalog-filter--grid legend {
  margin-bottom: 14px;
}

.catalog-filter--hang {
  padding-bottom: 48px;
}

.catalog-filter--hang legend {
  margin-bottom: 14px;
}

.type-filter {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding-top: 55px;
  padding-bottom: 48px;
}

.catalog-templates {
  grid-column: 2 / 4;
}

.sort-list {
  display: flex;
}

.rate {
  display: flex;
}

.catalog-pagination {
  grid-column: 2 / -1;
  padding-top: 55px;
  margin-top: 0;
  padding-bottom: 60px;
}

.type-catalog-filter {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-very-large);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  margin: 0;
  margin-bottom: 49px;
}

.type-filter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-filter-wrap .type-catalog-filter {
  margin: 0;
}

.sort-list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-list {
  font-size: var(--font-size-small);
  line-height: var(--line-height-basic);
  text-transform: uppercase;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sort-list label {
  position: relative;
  display: block;
  cursor: pointer;
}

.sort-item:not(:last-child) {
  margin-right: 25px;
}

.sort-item input + label {
  opacity: 0.3;
}

.sort-item input + label:hover {
  opacity: 0.6;
}

.sort-item input:checked + label {
  opacity: 1;
}

.rate {
  position: relative;
  list-style-type: none;
  padding-left: 0;
  width: 40px;
  margin: 0;
  margin-left: 47px;
}

.rate .up-down + label::before {
  content: "";
  position: absolute;
  display: block;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 10px solid var(--gray-basic);
  opacity: 0.2;
  cursor: pointer;
}

.rate .up-down + label:hover:before {
  opacity: 1;
}

.rate .up-down:checked + label::before {
  border-top: 10px solid var(--black-basic);
  opacity: 1;
}

.rate .down-up + label::before {
  content: "";
  position: absolute;
  display: block;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--gray-basic);
  opacity: 0.2;
  cursor: pointer;
  margin-left: 29px;
}

.rate .down-up + label:hover:before {
  opacity: 1;
}

.rate .down-up:checked + label::before {
  border-bottom: 10px solid var(--black-basic);
  opacity: 1;
}

.grid-list {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic-plus);
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.grid-item:not(:last-child) {
  margin-bottom: 19px;
}

.grid-item {
  padding-left: 36px;
}

.grid-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio:checked + label .radio-on {
  display: block;
  position: absolute;
  top: -3px;
  left: -36px;
  fill: var(--very-dark-gray);
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-input-radio + label .radio-on {
  display: none;
}

.filter-input-radio:checked + label .radio-off {
  display: none;
}

.filter-input-radio + label .radio-off {
  display: block;
  position: absolute;
  top: -3px;
  left: -36px;
  fill: var(--very-dark-gray);
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-features-list {
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic-plus);
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.filter-features-item:not(:last-child) {
  margin-bottom: 19px;
}

.filter-features-item {
  padding-left: 36px;
}

.filter-features-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:checked + label .checkbox-on {
  display: block;
  position: absolute;
  top: -3px;
  left: -36px;
  fill: var(--very-dark-gray);
  width: 25px;
  height: 23px;
  opacity: 0.4;
}

.filter-input-checkbox + label .checkbox-on {
  display: none;
}

.filter-input-checkbox:checked + label .checkbox-off {
  display: none;
}

.filter-input-checkbox + label .checkbox-off {
  display: block;
  position: absolute;
  top: -3px;
  left: -36px;
  fill: var(--very-dark-gray);
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover .checkbox-on,
.filter-input-checkbox + label:hover .checkbox-off,
.filter-input-radio + label:hover .radio-on,
.filter-input-radio + label:hover .radio-off {
  opacity: 1;
  transition: all 0.3s;
}

.filter-input-radio[disabled] + label,
.filter-input-checkbox[disabled] + label {
  opacity: 0.1;
  pointer-events: none;
}

.filter-button {
  color: var(--font-weight-normal);
  width: 100%;
  outline: none;
}

.filter-button:hover {
  background-color: var(--dimgray-hover);
  transition: all 0.3s;
}

.filter-button:active {
  background-color: var(--dimgray-active);
  color: var(--not-very-dark-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.template-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
}

.template-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border: var(--dimgray-basic) solid 1px;
}

.hat-template-item {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 16px;
  background-color: var(--very-dark-gray);
  opacity: 0.12;
}

.hat-template-item-bullet1 {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--white-basic);
  border-radius: 50%;
  margin-right: 9px;
}

.hat-template-item-bullet2 {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--white-basic);
  border-radius: 50%;
  margin-right: 9px;
}

.hat-template-item-bullet3 {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--white-basic);
  border-radius: 50%;
}

.template-item a {
  display: block;
}

.template-item a img {
  display: block;
  background-color: var(--dimgray-basic);
}

.template-item-info {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 26px 0px 44px;
  position: absolute;
  background-color: var(--dimgray-basic);
  bottom: 0px;
  transition: all 0.3s;
  width: 100%;
}

.template-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  transition: all 0.5s;
}

.template-item:hover .template-item-info {
  opacity: 1;
  visibility: visible;
}

.template-item:hover .hat-template-item {
  opacity: 1;
  transition: all 0.3s;
}

.template-item-info-ref {
  color: var(--black-basic);
  cursor: pointer;
}

.template-item-info-ref:hover {
  color: var(--red-basic);
  transition: all 0.3s;
}

.template-item-info-ref:active {
  color: var(--black-basic);
  opacity: 0.3;
}

.template-item h3 {
  text-transform: uppercase;
}

.template-item p {
  color: var(--dark-gray);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
}

.button-template {
  width: 200px;
  outline: none;
}

.button-template:active {
  color: var(--white-basic);
}

.catalog-page-list {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 0px;
}

.catalog-page-list li + li {
  margin-left: 12px;
}

.button-catalog-page {
  color: var(--black-basic);

  padding: 1.5em;
  background-color: var(--dimgray-basic);
}

.button-catalog-page:hover {
  background-color: var(--dimgray-hover);
  transition: all 0.3s;
}

.button-catalog-page:active {
  background-color: var(--dimgray-active);
  color: var(--not-very-dark-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-catalog-page-next {
  color: var(--black-basic);

  background-color: var(--dimgray-basic);
}

.button-catalog-page-next:hover {
  background-color: var(--dimgray-hover);
  transition: all 0.3s;
}

.button-catalog-page-next:active {
  background-color: var(--dimgray-active);
  color: var(--not-very-dark-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog-page-active {
  background-color: var(--white-basic);
  border: solid 3px var(--dimgray-hover);
  padding: 21px;
  pointer-events: none;
}


