@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("/fonts/roboto.woff") format("woff"),
    url("/fonts/roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

 @font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Bold"),
    url("/fonts/robotobold.woff") format("woff"),
    url("/fonts/robotobold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Medium"),
    url("/fonts/robotomedium.woff") format("woff"),
    url("/fonts/robotomedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 3.125em;
}

.button--primary {
  background-color: #FB565A;
  border: none;
}

.text-16 {
  line-height: 24px;
  font-size: 16px;
}

.hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}

main {
}

footer {
}

.page {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.page-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  margin: 0;
  color: #000000;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-logo {
  background-color: #eeeeee;
  padding-bottom: 0;
}

.navigate {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.navigate-list {
  padding-left: 0;
}

.navigate-item {
  list-style-type: none;

}

.navigate a {
  text-decoration: none;
  color: #000;
}

.slide {
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.advantages {
  background-color: #eeeeee;
  margin: 0;
}

.advantages h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.features {
}

.features h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-list {
  padding-left: 0;
}

.feature-item {
  list-style-type: none;
}

.feature-item:nth-child(2) .button {
  background-color: #00CA74;
}

.feature-item:nth-child(3) .button {
  background-color: #EFC849;
}

.slogan {
  font-size: 45px;
  line-height: 45px;
  display: flex;
  align-items: center;
}

.plus-list {
  padding-left: 0;
}

.plus-item {
  list-style-type: none;
}

.quality-list {
  padding-left: 0;
}

.quality-item {
  list-style-type: none;
}

.friends-list {

}

.friend-item {
  list-style-type: none;
}





.about-us {
}

.about-us h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.contacts {
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.contacts address{
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  display: flex;
  align-items: center;
  color: #666666;
}

.contacts p {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #666666;
}

.contacts a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #666666;
}

.contacts-map {
  background-image: url("/img/map.jpg");
  background-position: 50% 50%;
  background-repeat: repeat-x;
  height: 416px;
}

.main-footer {
}

.footer-social {
}

.social-list {
  list-style-type: none;
  font-size: 0;
  margin: -6px;
}

.social-icon {
  display: inline-block;
  margin: 6px;

}

.social-icon a {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #E1E1E1;
  text-align: center;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-icon--vk a{
  background-image: url("/img/icons/vk-icon.svg");
}

.social-icon--fb a{
  background-image: url("/img/icons/fb-icon.svg");
}

.social-icon--insta a{
  background-image: url("/img/icons/insta-icon.svg");
}

.text-footer-friendship {
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
}

.text-footer-discount {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #444444;
}

.popup {
}

.popup-name {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.popup-form {
}

.popup-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.submit {

}

.close {
  background-image: url("/img/close-cross.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
}


